{% extends "layout.html.twig" %}
{% block contenu %}
    <h2 class="text-center"> Liste des clients </h2>
    {{ include ('/blocks/arrayClients.html.twig') }}
{% endblock %}
{% block footer %}
    <p>Nombre de clients trouvés : {{ clients|length }} </p>
    {{ parent() }}
    Fin de l'affichage
{% endblock %}